<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.link_community">


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--快讯分享-->
        <activity
            android:name=".module.message.FastMessageToShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--行情搜索-->
        <activity
            android:name=".module.market.search.SearchMarketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--币吧详情-->
        <activity
            android:name=".module.coin_bbs.CoinBBSDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--币吧详情 进入-->
        <activity
            android:name=".module.coin_bbs.CoinBBSDetailsIntoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--登录-->
        <activity
            android:name=".module.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--编辑资料-->
        <activity
            android:name=".module.user.UserInfoUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--昵称-->
        <activity
            android:name=".module.user.NickNameUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--性别选择-->
        <activity
            android:name=".module.user.GenderChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />
        <!--我的评论-->
        <activity
            android:name=".module.user.MyMessageCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--资讯详情-->
        <activity
            android:name=".module.message.MessageDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--资讯评论详情-->
        <activity
            android:name=".module.message.CommentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--收藏列表-->
        <activity
            android:name=".module.user.MyCollectionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--我的评论详情-->
        <activity
            android:name=".module.user.MyCommentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--添加行情自选-->
        <activity
            android:name=".module.market.AddMarketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--币吧搜索-->
        <activity
            android:name=".module.coin_bbs.search.SearchCoinBBSActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--币吧回复详情-->
        <activity
            android:name=".module.coin_bbs.BBSCommentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--我的币吧回复-->
        <activity
            android:name=".module.user.MyCoinBBSCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--分享-->
        <activity
            android:name=".module.user.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />

        <!-- 微信分享回调 -->
        <activity
            android:name="wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


    </application>

</manifest>